#EQbox {
    font-size: 120px;
    border: 0;
    padding: 5px;
    color: #4C3735;
    background: #AFEADC;
    font-family: 'Balsamiq Sans', cursive;
}
<<<<<<< HEAD

=======
>>>>>>> 20ecb2626b9b43a4b60c2d39eef8f7f19f66b18b
.jumbotron{
    padding: 0px;
}