#EQbox {
    font-size: 80px;
    border: 0;
    padding: 5px;
    background: #f7f7f700;
    font-family: 'Balsamiq Sans', cursive;
    z-index: 1;
    display: inline-block;
    margin: auto;
    width: 70%;
    margin-top: 0;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    pointer-events: none;
    background: none !important;
}
.jumbotron{
    padding: 0px;
    border-color: #4C3735;
}
.eqb{
    margin: auto;
    width: 50%;
    display: inline-block;
}

.card-text {
    font-size: 80px;
    color: black;
}
.answer {
    z-index: 1;
    position: absolute;
    -ms-transform: translateY(0);
    transform: translateY(0);
    user-select: visible;
    -moz-user-select: visible;
    -khtml-user-select: visible;
    -webkit-user-select: visible;
    -o-user-select: visible;
    pointer-events:visible;
}
.unselectable {
    user-select: auto;
    -moz-user-select: auto;
    -khtml-user-select: auto;
    -webkit-user-select: auto;
    -o-user-select: auto;
    pointer-events: auto;
    background: auto;
}

.answer {
    text-align: center;
    font-size: 80px;
    width: 100px;
    height: 140px;
    float: left;
}