.default {
  min-height: 100%;
  padding-bottom: 100px;
  background-color: aquamarine;
  text-decoration-color: brown;
}

.inverse {
  min-height: 100%;
  padding-bottom: 100px;
  background-color: brown;
  text-decoration-color: aquamarine;
}
