.logoHeader {
    align-content: center;
    width: inherit;
}

h1 {
    color: #4C3735;
    text-align: center;
    font-family: 'Varela Round', sans-serif;
}

p {
    color: #4C3735;
    font-family: 'Varela Round', sans-serif;
    font-size: 20px;
}

html {
    height: 100%;
}

body {
    margin:0;
  }
  
  .bg {
    animation:slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #c3fff1 20%, #AFEADC 20%, #c3fff1  90%, #AFEADC 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
  }
  
  .bg2 {
    animation-direction:alternate-reverse;
    animation-duration:4s;
  }
  
  .bg3 {
    animation-duration:5s;
  }
  
  @keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
  }
