.ConfigBttn {
    width: 75%;
    padding: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 60px;
    border: 0;
    border-radius: 7px;
    background: #4C3735;
    color: #AFEADC;
    box-shadow: 4px 4px 8px #858585cc;
    font-family: 'Balsamiq Sans', cursive;
}