.canvasContainer {
    border:1px solid black;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 0;
    position: absolute;
}

.buttons {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    
}
